spring:
  application:
    name: kroll
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

server:
  error:
    whitelabel:
      enabled: false

auth:
  jwt:
    expiration: 1h
  refresh:
    expiration: 30d
  api-key:
    max-lifetime: 30d
