spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  api-docs:
    enabled: false

auth:
  jwt:
    secret: ${JWT_SECRET}

logging:
  level:
    com.collederas.kroll: ${LOG_LEVEL:INFO}
