name: CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        ports: [5432:5432]
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: krolldb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v4

      - name: Test
        run: ./gradlew check --no-daemon
        env:
          KROLL_DB_URL: jdbc:postgresql://localhost:5432/krolldb
          KROLL_DB_USER: postgres
          KROLL_DB_PASSWORD: postgres

      - name: Build
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: ./gradlew buildContract bootJar --no-daemon
        env:
          KROLL_DB_URL: jdbc:postgresql://localhost:5432/krolldb
          KROLL_DB_USER: postgres
          KROLL_DB_PASSWORD: postgres

      - name: Upload CI Application Artifact
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: kroll-application-ci
          path: build/libs/*.jar
          retention-days: 5
