name: CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: krolldb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew build --no-daemon
        env:
          KROLL_DB_URL: jdbc:postgresql://localhost:5432/krolldb
          KROLL_DB_USER: postgres
          KROLL_DB_PASSWORD: postgres

      - name: Upload Application Artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: kroll-application
          path: build/libs/*.jar
          retention-days: 5
